<h1> Hello from Rails!</h1>
<h1>Say#Hello</h1>
<p>
  It is now <%= @time %>
</p>
<p>
  It is now <%= 1+2 %>
</p>
<p>
  It is now <%= 'cow' + 'body' %>
</p>
<p>
  It is now <%= 1.hour.from_now %>
</p>
<p>
  Say <%= link_to 'Goodbye', say_Goodbye_path %>
</p>
